@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .shad {
    animation: moveUpDown 4s ease-in-out infinite;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  }
  